/*
  Color Schema
  Navy Blue: #011826
  Dark Blue: #042940
  Blue: #3E6E8C
  White With Blue Accent: #EBEFF2
  Turquoise: #8AB0BF
 */

.bg-dark-blue {
  background-color: #011826;
  color: white;
}

.navbar-white-toggler-icon {
  color: white;
}
